{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<!-- <div class = "note-container">
    <form>
        <textarea id="note" name="note" placeholder="Write something here..."></textarea>
        <button onclick="">Save</button>
    </form>
</div> -->
<div class="container">
    <h1>Notes for Goats<div style="font-size: 25px;">Created by Radosław Górecki</div></h1>
    <div class="button-container">
        <a href="{{url_for("login")}}" class="button">Login Page</a>
        <a href="{{url_for("register")}}" class="button">Register Page</a>
    </div>
</div>
{% endblock %}