<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes.css') }}">
    <title>Notes</title>
</head>
<body>
    <div class="container">
        <h1 class="title">My Notes</h1>

        <div class="toolbar">
            <button>B</button>
            <button>I</button>
            <button>U</button>
        </div>

        <div class="main-content">
            <div class="notes-list">
                <ul>
                    <li class="main-note-title">Title</li>
                    {% for note_1 in notes %}
                        <li><a href="{{ url_for("load_note", note_id=note_1.id) }}">{{ note_1.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <form method="Post" class="note-editor">
                <!-- <input type="text" name="title" placeholder="Enter note title..." class="note-title-input">
                <textarea name="content" placeholder="Write something here..."></textarea>
                <button class="button save-button" type="submit">Save</button> -->
                {% if note == None %}
                    {{ form.hidden_tag() }}
                    {{ form.title() }}
                    {{ form.content() }}
                    {{ form.submit(class="button save-button") }}
                {% else %}   
                    {{ form.hidden_tag() }}
                    {{ form.title(value=note.title) }}
                    {{ form.content(value=note.content) }}
                    {{ form.submit(class="button save-button") }}
                {% endif %}
            </form>
        </div>
    </div>
    <div class="site-bottom" >
        <div style="text-align: center">
            <a class="button" href="{{ url_for('logout') }}"">Logout</a>
        </div>
        <!-- <div style="text-align: right">
            <a class="button" href="{{ url_for('logout') }}"">Export</a>
        </div> -->
    </div>
</body>
</html>