<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css') }}"> 
    <title>Register Page</title>
</head>
<body>
<div class="container">
    <h1>Register Page</h1>
        <div class="button-container">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.username(class="form-margins") }}<br>
                {{ form.password(class="form-margins") }}<br>
                {{ form.submit(class="button") }}
            </form>
        </div>
    <a href="{{url_for("login")}}">Already have an account? Log In here!</a><br>
</div>
</body>
</html>